<!DOCTYPE html>
<html>

<head>
<%- include("partials/files") %>
<style>
    .comm{
        color: red;
        clear: both;
    }
    .repl{
        color: blue;
    }
    .fom{
        color: green;
    }
    .lik{
        float: left;
        margin-bottom: 20px;
    }
    body{
        font-family: Montserrat;
    }
</style>
</head>

<body>
    <% include partials/navigation %>
    <h1><%= college.name %></h1>
    <p>(<%= college._creator_name %>)</p>
    <% xid3 = '/rater/' + college._id %>
    <p>Rating <%= college.counter %></p>
    <hr>
    <%= college.about %>
    <hr>
    <a href=<%= xid3 %>>Rate Us</a><br>
    <h3 style="color: red;">new comment</h3>
    <% xid0 = '/newComment/' + college._id %>
    <% if(user) { %>
        <form method="post" action=<%= xid0 %>>
            <div class="form-group">
              <label for="exampleInputEmail1">Ask Question</label>
              <input type="text" name="text" class="form-control" id="exampleInputEmail1" placeholder="Post new Question">
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    <% } %>
    <hr>
    <% if(comments.length > 0) { %>
    <h3 style="color: red;">Older Questions</h3>
    <% for(var i = 0; i < comments.length; i ++) { %>
        <span style="border-radius: 15px; padding: 5px; background-color: rgba(0, 0, 0, 0.2); font-size: 19px;"><%= comments[i].text %></span>
        <p style=" margin-top: 20px;"><%= comments[i].counter.like %> People liked and <%= comments[i].counter.dislike %> People disliked this.</p>
        <% if(user) { %>
            <% xid1 = '/newReply/' + college._id + '/' + comments[i]._id %>
            <form method="post" action=<%= xid1 %>>
                <div class="form-group">
                  <label for="exampleInputEmail1">Answer It</label>
                  <input type="text" name="text" class="form-control" id="exampleInputEmail1" placeholder="Answer this Question">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        <% } %>
        <% for(var j = 0; j < comments[i].reply.length; j ++) { %>
            <p style="color: black; margin-top: 15px; padding: 5px; font-size: 19px;"><%= comments[i].reply[j].text %></p>
        <% } %>
        <% if(user) { %>
            <% xid20 = '/like/' + comments[i]._id + '/' + college._id %>
            <% xid21 = '/dislike/' + comments[i]._id + '/' + college._id %>
            <form method="post" class="lik" action=<%= xid20 %>>
                <input type="submit" value="like" class="btn btn-primary">
            </form>
            <form style="margin-left: 15px;" method="post" class="lik" action=<%= xid21 %>>
                <input type="submit" value="dislike" class="btn btn-primary">
            </form>
            <br style="clear: both;">
            <hr>
        <% } %>
    <% } %>
    <% } %>
</body>

</html>
