<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <%- include("partials/files") %>
    <style>
        .a {
            border-radius: 15%;
            width: 500px;
            height: 350px;
            float: right;
            border: 3px solid green;
        }
        body{
            font-family: Montserrat;
            background-color: rgba(200, 255, 189, 0.836);
        }
    </style>
</head>

<body>
    <% include partials/navigation %>
    <% pix = "image/" + user.picture %>
    <img src=<%=pix %> alt="xxx" class="a mx-5 my-5">
    <h3>Name</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.name %></p>
    <h3>Address</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.city %> in <%= user.state %></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.country %> (<%= user.zip %>)</p>
    <h3>Work Experience</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.work %></p>
    <h3>Education Experience</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.education %></p>
    <a href="/me/update" class="btn btn-success ml-3">change bio</a>
    <% if(user.kind == "College") { %>
    <a href="/request/college/add" class="btn btn-success">add college</a>
    <% } %>
    <% if(user.kind == "Admin") { %>
        <a href="/delusers" class="btn btn-success">delete users</a>
    <% } %>
</body>

</html>