<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <%- include("partials/files") %>
    <style>
        .a {
            border-radius: 20%;
            width: 300px;
            height: 200px;
            float: right;
        }
    </style>
</head>

<body>
    <% include partials/navigation %>
    <% pix = "image/" + user.picture %>
    <img src=<%=pix %> alt="xxx" class="a mx-5 my-5">
    <p><%= user.name %></p>
    <p><%= user.city %></p>
    <p><%= user.state %></p>
    <p><%= user.zip %></p>
    <p><%= user.work %></p>
    <p><%= user.education %></p>
    <p><%= user.country %></p>
    <p><%= user.kind %></p>
    <a href="/me/update" class="btn btn-success ml-3">change bio</a>
    <% if(user.kind == "College") { %>
    <a href="/request/college/add" class="btn btn-success">add college</a>
    <% } %>
</body>

</html>